@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginViewModel



<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div id="login" class="form-horizontal col-sm-3">
      
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.ValidationMessage("invalid-credentials")


            <div class="form-group">
                @Html.TextBoxFor(m => m.Username, new { @class= "form-control form-control-sm", placeholder = "Enter your Username" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-sm", placeholder = "Enter your Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            //this does nothing currently, added future implementation
            @*<div class="checkbox">
                <label><input type="checkbox" /> Remember Me</label>
            </div>*@
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-primary">Login</button>
            </div>
            

            <div>
                <p>Don't have an account? Create one <a href='@Url.Action("Register", "Home")'>here</a>.</p>
            </div>
        }
    </div>
}



