@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
    Html.EnableClientValidation(false);
}
@model RegisterViewModel

<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
                <div class="panel panel-default formPanel">
                    <div class="panel-heading bg-color-1 border-color-1">
                        <h3 class="panel-title">Create  an account</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/Home/Register" method="post" role="form">
                            <div class="form-group formField">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-sm form-control-md", placeholder = "First name" })
                                @*<input type="text" class="form-control" placeholder="First name">*@
                            </div>
                            <div class="form-group formField">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-sm form-control-md", placeholder = "Last name" })
                                @*<input type="text" class="form-control" placeholder="Last name">*@
                            </div>
                            <div class="form-group formField">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-sm form-control-md", placeholder = "Username" })
                                @*<input type="text" class="form-control" placeholder="Username">*@
                            </div>
                            <div class="form-group formField">
                                @Html.TextBoxFor(m => m.FamilyName, new { @class = "form-control form-control-sm form-control-md", placeholder = "Family name" })
                                @*<input type="text" class="form-control" placeholder="Family Name">*@
                            </div>
                            <div class="form-group formField">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-sm form-control-md", placeholder = "Password" })
                                @*<input type="password" class="form-control" placeholder="Password">*@
                            </div>
                            <div class="form-group formField">
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control form-control-sm form-control-md", placeholder = "Re-password" })
                                @*<input type="password" class="form-control" placeholder="Re-Password">*@
                            </div>
                            <div class="form-group formField">
                                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Register">
                            </div>
                            <div class="form-group formField">
                                <p class="help-block">Already have an account? <a href="/Home/Login">Log in</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default formPanel">
                    <div class="panel-heading bg-color-1 border-color-1">
                        <h3 class="panel-title">Already Registered?</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/Home/Login" method="post" role="form">
                            <div class="form-group formField">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-sm form-control-md", placeholder = "Username" })
                                @*<input type="text" class="form-control" placeholder="Username">*@
                            </div>
                            <div class="form-group formField">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-sm form-control-md", placeholder = "Password" })
                                @*<input type="password" class="form-control" placeholder="Password">*@
                            </div>
                            <div class="form-group formField">
                                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Log in">
                            </div>
                            @*<div class="form-group formField">
                                <p class="help-block"><a href="#">Forgot password?</a></p>
                            </div>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card">
                <h5 class="card-header">Register</h5>
                
                    <div id="register_family">
                        <form action="/Home/Register" method="post">
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-sm form-control-md", placeholder = "First name" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-sm form-control-md", placeholder = "Last name" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-sm form-control-md", placeholder = "User name" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FamilyName, new { @class = "form-control form-control-sm form-control-md", placeholder = "Family name" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-sm form-control-md", placeholder = "Password" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control form-control-sm form-control-md", placeholder = "Confirm password" })
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <p>Have an account?<br />
                                   Log in <a href='@Url.Action("Index", "Home")' class="card-link">here</a>.
                                </p>
                            </div>
                        </form>
                      </div>
             </div>
        </div>
    </div>
</div>*@




@*<div id="register_title" class="col-md-12">
    <h5>Create your Family Reading Account</h5>
    <br />
</div>
<div id="register_text" class="col-sm-8">
    
    <p>To start, create a family account with a Family Name.</p>
    <p>The Family Name may be your family's name or something fun!</p>
    <br />
</div>

<div id="register_family" class="col-sm-3">
    <form action="/Home/Register" method="post">
        <div class="form-group">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-sm", placeholder = "First name" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-sm", placeholder = "Last name" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-sm", placeholder = "User name" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.FamilyName, new { @class = "form-control form-control-sm", placeholder = "Family name" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-sm", placeholder = "Password" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control form-control-sm", placeholder = "Confirm password" })
        </div>
        
        <div class="form-group">
            <button class="btn btn-sm btn-primary">Submit</button>
        </div>
        
    </form>
</div>*@
